.userbar-container {
  padding: 14px !important;
  margin: 0 !important;
  width: 100% !important;
  border-radius: inherit !important;
  min-height: 40px !important;
  background-color: #292929 !important;
  box-shadow: 1px 1px #1b1b1b !important;
}
