.issue-header-color {
  color: white !important;
}

.issue-description {
  margin-left: 40px;
  color: #cfcece !important;
}

.issue-sub-color {
  color: #cfcece !important;
}

.issue-date-color {
  color: #858484 !important;
}
