.home-header-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-header-content-container {
  width: 100%;
  height: 90%;
  flex-direction: column;
  justify-content: space-around;

  .home-header-content {
    // width: 30%;
    padding: 12px;
    text-align: center;

    .home-header-title {
      font-size: 3rem;
      color: black;
    }
    .home-header-text {
      font-size: 2em;
      color: black;
    }
  }
  .home-header-image {
    height: 450px;
  }
  // .home-header-img-container {
  //   width: 50%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   .home-header-img {
  //     width: 400px;
  //   }
  // }
}

// Media queries
@media only screen and (max-width: 450px) {
  .home-header-content {
    padding-top: 30% !important;
  }
  .home-header-title {
    font-size: 2rem !important;
  }
  .home-header-text {
    font-size: 1.3em !important;
  }
}
