.flex {display: flex !important;}
.flex-column {flex-direction: column;}
.flex-row {flex-direction: row !important;}
// Flex Justify
.flex-justify-center {justify-content: center;}
.flex-justify-between {justify-content: space-between;}
// Align items
.flex-align-items-center {align-items: center;}
.flex-align-items-end {align-items: flex-end;}

.flex-1 {flex: 1;}
